@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx
{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgBx:before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#343182de,#000000);
    z-index: 1;
    mix-blend-mode: screen;
}
section .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .contentBx
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height: 100%;
}
section .contentBx .formBx
{
    width: 50%;
}
section .contentBx .formBx h2
{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #003cff;
    display: inline-block;
    letter-spacing: 1px;
}
section.contentBx .formBx .inputBx
{
    margin-bottom: 20px;
}
section.contentBx .formBx .inputBx span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 16px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
section .contentBx .formBx .inputBx input[type="submit"]
{
    background: #003cff;
    color: #fff;
    letter-spacing: -1px;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover
{
    background: #475edf;
}
section .contentBx .formBx .remember
{
    margin-bottom: 10px;
    color: #475edf;
    font-weight: 400;
    font-size: 14px;
}
section .contentBx .formBx .inputBx p{
    color: #607d8b;
}
section .contentBx .formBx .inputBx p a{
    color: red;
}
section .contentBx .formBx h3
{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}
section .contentBx .formBx .sci
{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .contentBx .formBx .sci li
{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}


.dark {
    min-height: 100vh;
  }
  
  .card {
    border: solid 1px #8899a6;
  }
  .dark .card{
    background-color: #2a2a2a;
  }
  
  .dark .card-header {
    background-color: #22303c;
    border-bottom: solid 1px #8899a6;
  }
  
  .dark h1 {
    color: white;
  }
  
  .dark label,
  .dark h5 {
    color: #c9d0d5;
  }
  
  /* FORM */
  .dark input {
    background-color: #8899a6;
  }
  
  .dark #amount {
    background-color: #22303c;
  }
  
  .dark #copyTarget {
    background-color: #22303c;
    color: white;
  }
  
  div.toggle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  
  
  .light::before {
    content: '';
    background: url('./components/img/4436009_93190.jpg')  no-repeat center center/cover ;
    position: fixed;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  
  .dark::before {
    content: '';
    background: url('./components/img/4436009_93190.jpg')  no-repeat center center/cover ;
    filter: invert(100%);
    position: fixed;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  

